{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
			<a class="navbar-brand" href="{{site.url}}">{{site.name}}</a>

			{% include "menu.twig" with {'menu': menu.get_items} %}
		</nav>

		<section role="main" class="container-fluid">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
			</div>
			{% if sidebar %}
				<div class="row">
					<div class="col-md-9">
			{% endif %}
						{% block content %}
							Sorry, no content
						{% endblock %}
			{% if sidebar %}
					</div>
					<div class="col-md-3">
						<aside class="layout-sidebar">
							{{sidebar}}
						</aside>
					</div>
				</div>
			{% endif %}
		</section>

		{% block footer %}
			<footer class="container-fluid">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
