<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ site.title }}</title>

    <meta charset="{{site.charset}}" />
    {% block head_meta %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="{{site.theme.link}}/static/css/main.css" type="text/css" media="screen" />
    <link rel="pingback" href="{{site.pingback_url}}" />

    {{function('wp_head')}}
	{% block head %}{% endblock %}

</head>

<body class="{{body_class}}" data-template="base.twig">
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
		<a class="navbar-brand" href="{{site.url}}">{{site.name}}</a>

		{% include "menu.twig" with {'menu': primary_menu.get_items} %}
	</nav>

	<div class="wrapper {{sidebar_class}}">
		{% if sidebar %}
			<div class="row">
				<div class="col-md-9">
		{% endif %}
					{% block content %}
						Sorry, no content
					{% endblock %}
		{% if sidebar %}
				</div>
				<div class="col-md-3">
					<aside class="layout-sidebar">
						{{sidebar}}
					</aside>
				</div>
			</div>
		{% endif %}
	</div>

	{% block footer %}
		<footer class="container-fluid">
			{% include 'footer.twig' %}
		</footer>
	{% endblock %}

	<script type="text/javascript" src="{{site.theme.link}}/static/js/main.js"></script>
	{{ function('wp_footer') }}
</body>
</html>
