<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <title>
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>

    <meta charset="{{site.charset}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{{site.description}}">

    <link rel="stylesheet" href="{{site.theme.link}}/static/css/main.css" type="text/css" media="screen" />
    <link rel="pingback" href="{{site.pingback_url}}" />
    {{function('wp_head')}}
