{% if menu %}
	<ul class="nav navbar-nav">
	{% for item in menu %}
		{% set children = item.get_children %}
		<li
			class="nav-item
				{{ item.current ? 'active' : '' }}
				{{ children ? 'dropdown' : '' }}"
		>
			<a
				href="{{item.get_link}}"
				class="nav-link {{ children ? 'dropdown-toggle' : '' }}"
				{{ children ? 'data-toggle="dropdown"' : '' }}
				aria-expanded="false"
			>{{ item.title }}
			</a>
			{% include "dropdown.twig" with { 'parent': item, 'dropdown': children } %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
