{% extends "base.twig" %}

{% block head_meta %}
	{% include "head-meta.twig" with {
			noindex: post.meta_noindex,
			title: post.meta_title ?: null,
			description: post.meta_description ?: post.content|excerpt(24, '…'),
			image: post.thumbnail ? TimberImage(post.thumbnail).src : null,
		}
	%}
{% endblock %}

{% block content %}
	<article class="container post-type-{{post.post_type}}">
		<section class="article-content">
			<h1>{{post.title}}</h1>
			<p class="author">{{ post.by_line | raw }} &bull; {{ post.post_date|date }}</p>
			<div class="article-body">
				{{post.content}}
			</div>
		</section>
	{% if post.comment_status != 'closed' %}
		<section class="comments">
			<div class="respond">
				{{ fn('comment_form', {'class_submit': 'btn btn-primary'}) }}
			</div>
			<div class="responses">
				{% for cmt in post.get_comments() %}
					{% include "comment.twig" with {comment:cmt} %}
				{% endfor %}
			</div>
		</section>
	{% endif %}
	</article>
{% endblock %}
